<a href="https://colab.research.google.com/github/Varshini0711/new-python/blob/master/Assigment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
lst = []
num = int(input('How many numbers: '))
for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)
print("Maximum element in the list is :", max(lst), "\nMinimum element in the list is :", min(lst))

How many numbers: 5
Enter number 24
Enter number 28
Enter number 39
Enter number 07
Enter number 50
Maximum element in the list is : 50
Minimum element in the list is : 7

write a python program to remove duplicates from a list

In [2]:
a = [10,20,30,20,10,45,60,40,70,45,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{70, 40, 10, 45, 50, 20, 60, 30}

write a program to check a list is empty or not

In [5]:
l = [10,"hello","hi"]
if not l:
  print("List is empty")
else:
  print("List is not empty")

List is not empty

write a python program to clone or copy a list

In [6]:
original_list = [10, 22, 44, 23, 4]  
new_list = list(original_list)  
print(original_list)  
print(new_list)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

write a python program to print a specified list after removing the 0th,4th and 5th elements

In [7]:
color = ["Red", "Black", "Green", "White", "Orange"]
print("\nOriginal Color: ",color)
del color[0]
print("After removing the first color: ",color)
print()

Original Color:  ['Red', 'Black', 'Green', 'White', 'Orange']
After removing the first color:  ['Black', 'Green', 'White', 'Orange']

write a python program to print the numbers of a specified list after removing even number from it

In [10]:
list = [11, 22, 33, 44, 55]

print("Original list:")
print (list)
for i  in list:
	if(i%2 == 0):
	    list.remove(i)

print("list after removing EVEN numbers:")
print(list)

Original list:
[11, 22, 33, 44, 55]
list after removing EVEN numbers:
[11, 33, 55]

write a python program to shuffle and print a specified list

In [16]:
import random

list = [20, 19, 16, 5,28 ];
random.shuffle(list)
print("Reshuffled list :",  list)

random.shuffle(list)
print("Reshuffled list :",  list)

Reshuffled list : [28, 16, 20, 5, 19]
Reshuffled list : [16, 28, 5, 19, 20]

write a python program to get the difference between the two list

In [23]:
list1 = [1, 2, 4]
list2 = [4, 5, 6]

difference = set(list1).symmetric_difference(set(list2))
list_difference = list(difference)

print(list_difference)

TypeError: ignored