<a href="https://colab.research.google.com/github/Varshini0711/new-python/blob/master/Assigment_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

write a python program to create a tuple

In [1]:
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

write a python program to create a tuple eith different data types

In [2]:
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

write a python program toconverta tuple to a string

In [3]:
tup = ('p', 'y', 't', 'h', 'o', 'n')
str =  ''.join(tup)
print(str)

python

write a python program to slice a tuple

In [5]:
tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
slice = tuplex[3:5]
print(slice)

(5, 4)

In [6]:
tuplex = tuple("HELLO WORLD")
print(tuplex)
_slice = tuplex[2:9:2]
print(_slice)

('H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D')
('L', 'O', 'W', 'R')

write a python program to find the length of a tuple

In [7]:
tuplex = tuple("Gitamuniversty")
print(tuplex)
print(len(tuplex))

('G', 'i', 't', 'a', 'm', 'u', 'n', 'i', 'v', 'e', 'r', 's', 't', 'y')
14

write a python program to reverse a tuple

In [10]:
x = ("pythonprogram")
y = reversed(x)
print(tuple(y))
x = (14, 7, 17, 28)
y = reversed(x)
print(tuple(y))

('m', 'a', 'r', 'g', 'o', 'r', 'p', 'n', 'o', 'h', 't', 'y', 'p')
(28, 17, 7, 14)

write a python program to convert a list to a tuple

In [11]:
listx = [5, 10, 7, 4, 15, 13, 28, 14, 24]
print(listx)
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 13, 28, 14, 24]
(5, 10, 7, 4, 15, 13, 28, 14, 24)