<a href="https://colab.research.google.com/github/Varshini0711/new-python/blob/master/Assigment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

generate first N number of fibonacci numbers.take N value from user

In [3]:
n=int(input("enter the value of 'n':"))
a=0
b=1
sum=0
count=1
print("fibonacci series:",end="")
while(count<=n):
  print(sum,end="")
  count+=1
  a=b
  b=sum
  sum=a+b

enter the value of 'n':7
fibonacci series:0112358

display multiplication table of k.take K value from user

In [4]:
k=int(input("input a number:"))

for i in range(1,11):
  print(k,'*',i,'=',k*i)

input a number:28
28 * 1 = 28
28 * 2 = 56
28 * 3 = 84
28 * 4 = 112
28 * 5 = 140
28 * 6 = 168
28 * 7 = 196
28 * 8 = 224
28 * 9 = 252
28 * 10 = 280

write a program to find GCD of two numbers

In [10]:
num1=int(input("enter 1st number:"))
num2=int(input("enter 2nd number:"))
i=1
while(i <= num1 and i <= num2):
  if(num1 % i==0 and num2 % i==0):
    gcd=i
  i=i+1
print("GCD is", gcd)

enter 1st number:5
enter 2nd number:15
GCD is 5

write a python program that accepts a word from the user and reverse it

In [12]:
word=input("input a word to reverse:")

for char in range(len(word)-1,-1,-1):
  print(word[char],end="")

input a word to reverse:techstudy
ydutshcet

write a python program to count the number of even and odd numbers from a series of a numbers

In [13]:
numbers=(1,2,3,4,5,6,7,8,9)
count_odd=0
count_even=0
for x in numbers:
     if not x % 2:
        count_even+=1
     else:
        count_odd+=1
print("number of even numbers:",count_even)
print("number of odd numbers:",count_odd)

number of even numbers: 4
number of odd numbers: 5

take 10 integers from keyboard using loop and print their average value on the screen print following pattern using loop

In [18]:
 def pypart(n):  
   for i in range(0, n): 

        for j in range(0, i+1):  
            print("* ",end="") 
            print("\r")  

n = 5 

pypart(n)

IndentationError: ignored

write a python program that prints all the numbers from 0 to 6 excepts 3 and 6

In [24]:
for x in range(6):
   if (x==3 or x==6):
     continue
   print(x,end ="")

01245

convert binaery number to decimal

In [29]:
b_num=list(input("input a binary number:"))
value=0

for i in range(len(b_num)):
     digit=b_num.pop()
if digit =='1':
     value=value+pow(2,i)
print("the decimal value of the number is",value)

input a binary number:100110
the decimal value of the number is 32